name: Deploy Infrastructure (Master + DNS)

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  PROJECT_NAME: stock-manager
  ENVIRONMENT: dev

  # CI/CD
  S3_BUCKET: stock-manager-prod-artifacts

  # Stacks
  STACK_NAME_INFRA: stock-manager-master-dev
  STACK_NAME_DNS: stock-manager-dns-dev

  # DNS / SSL
  DOMAIN_NAME: api.asantanadev.com
  HOSTED_ZONE_ID: Z0620408R15AZPT367P2
  CERTIFICATE_ARN: arn:aws:acm:us-east-1:365646127398:certificate/63e80d1b-c0cc-402b-a280-409296304096

jobs:
  deploy-infra:
    name: Deploy Master Infrastructure
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload CloudFormation modules to S3
        run: |
          aws s3 sync templates/modules s3://${{ env.S3_BUCKET }}/modules

      - name: Package master template
        run: |
          aws cloudformation package \
            --template-file templates/master.yaml \
            --s3-bucket ${{ env.S3_BUCKET }} \
            --output-template-file packaged-master.yaml

      - name: Deploy master stack
        run: |
          aws cloudformation deploy \
            --template-file packaged-master.yaml \
            --stack-name ${{ env.STACK_NAME_INFRA }} \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND \
            --parameter-overrides \
              ProjectName=${{ env.PROJECT_NAME }} \
              Environment=${{ env.ENVIRONMENT }} \
              DomainName=${{ env.DOMAIN_NAME }} \
              CertificateARN=${{ env.CERTIFICATE_ARN }} \
              LatestAMIId=ami-0c101f26f147fa7fd \
              KeyName=chave-estoque-prod \
              DBUsername=${{ secrets.DB_USERNAME }} \
              DBPassword=${{ secrets.DB_PASSWORD }} \
              DBInstanceClass=db.t3.micro \
              WebInstanceType=t3.micro \
              AppInstanceType=t3.small

  deploy-dns:
    name: Deploy Route53 DNS
    runs-on: ubuntu-latest
    needs: deploy-infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy DNS stack
        run: |
          aws cloudformation deploy \
            --template-file templates/modules/route53-records.yaml \
            --stack-name ${{ env.STACK_NAME_DNS }} \
            --parameter-overrides \
              ProjectName=${{ env.PROJECT_NAME }} \
              Environment=${{ env.ENVIRONMENT }} \
              DomainName=${{ env.DOMAIN_NAME }} \
              HostedZoneId=${{ env.HOSTED_ZONE_ID }}
