name: Deploy Master Infrastructure

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy CloudFormation Master Stack
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1
      S3_BUCKET: stock-manager-prod-artifacts
      STACK_NAME: stock-manager-master-dev
      HOSTED_ZONE_ID: Z0620408R15AZPT367P2
      DOMAIN_NAME: asantanadev.com
      ENVIRONMENT: dev
      PROJECT_NAME: stock-manager

    steps:
      # Checkout do código
      - name: Checkout repository
        uses: actions/checkout@v4

      # Autenticação na AWS via OIDC
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      # Upload dos módulos (arquivos YAML filhos) para o S3
      - name: Upload Modules to S3
        run: |
          aws s3 sync templates/modules s3://${{ env.S3_BUCKET }}/modules

      # Package da Master Stack (Gera o template final com caminhos do S3)
      - name: CloudFormation Package
        run: |
          aws cloudformation package \
            --template-file templates/master.yaml \
            --s3-bucket ${{ env.S3_BUCKET }} \
            --output-template-file packaged-master.yaml

      # Deploy da Master Stack com sobrescrita de parâmetros
      - name: Deploy Master Stack
        run: |
          aws cloudformation deploy \
            --template-file packaged-master.yaml \
            --stack-name ${{ env.STACK_NAME }} \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND \
            --parameter-overrides \
              Environment=${{ env.ENVIRONMENT }} \
              ProjectName=${{ env.PROJECT_NAME }} \
              DomainName=${{ env.DOMAIN_NAME }} \
              HostedZoneId=${{ env.HOSTED_ZONE_ID }} \
              CertificateArn="${{ vars.CERTIFICATE_ARN }}" \
              LatestAMIId=ami-0c101f26f147fa7fd \
              KeyName=chave-estoque-dev \
              DBUsername="${{ secrets.DB_USERNAME }}" \
              DBPassword="${{ secrets.DB_PASSWORD }}" \
              WebInstanceType=t3.micro \
              AppInstanceType=t3.small \
              DBInstanceClass=db.t3.micro

      # Aguarda a finalização completa de todas as stacks (Master e Nested)
      - name: Wait Master Stack Completion
        run: |
          echo "Aguardando Master Stack finalizar..."
          aws cloudformation wait stack-create-complete \
            --stack-name ${{ env.STACK_NAME }} \
          || aws cloudformation wait stack-update-complete \
            --stack-name ${{ env.STACK_NAME }}
          echo "Master Stack criada/atualizada com sucesso!"

      # Alerta via SNS em caso de erro no Job
      - name: Notify Failure
        if: failure()
        run: |
          aws sns publish \
            --topic-arn arn:aws:sns:us-east-1:365646127398:github-deploy-alerts \
            --subject "FALHA NO DEPLOY: ${{ env.STACK_NAME }}" \
            --message "O deploy falhou. Verifique os eventos do CloudFormation na AWS."