name: Deploy Infra Simples (Estudo)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Virgínia Minimalista
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1
      ENVIRONMENT: dev
      PROJECT_NAME: stock-manager

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      ############################
      # 1. DEPLOY VPC (Rede Básica)
      ############################
      - name: Deploy VPC
        run: |
          aws cloudformation deploy \
            --stack-name vpc-simple \
            --template-file templates/modules/vpc.yaml \
            --parameter-overrides Environment=dev ProjectName=estudo

      ############################
      # 2. DEPLOY RDS (Banco de Dados)
      ############################
      - name: Deploy RDS
        run: |
          aws cloudformation deploy \
            --stack-name rds-simple \
            --template-file templates/modules/rds.yaml \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides \
              Environment=dev \
              DBInstanceClass=db.t3.micro \
              DBUsername=${{ secrets.DB_USERNAME }} \
              DBPassword=${{ secrets.DB_PASSWORD }} \
              VpcId=$(aws cloudformation describe-stacks --stack-name vpc-simple --query "Stacks[0].Outputs[?OutputKey=='VpcId'].OutputValue" --output text)

      ############################
      # 3. DEPLOY EC2 (Seu Servidor)
      ############################
      - name: Deploy EC2
        run: |
          aws cloudformation deploy \
            --stack-name ec2-simple \
            --template-file templates/modules/asg-web.yaml \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides \
              Environment=dev \
              InstanceType=t3.micro \
              KeyName=${{ secrets.KEY_NAME }} \
              LatestAMIId=${{ secrets.LATEST_AMI }} \
              VpcId=$(aws cloudformation describe-stacks --stack-name vpc-simple --query "Stacks[0].Outputs[?OutputKey=='VpcId'].OutputValue" --output text)